<ion-header>

  <ion-navbar color="dark">
    <ion-title>MySpots</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let data of dataFromImageStore">
    <div [ngStyle]="{'background-image:url('+data.filelocation+')'}" style="background-size:cover;height: 220px;width: 100%;">

    </div>
  </ion-card>
</ion-content>
