
<ion-header>
  <ion-navbar hideBackButton color="dark">
    
    <ion-title>FavSpot</ion-title>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>

    
  </ion-navbar>

</ion-header>

<ion-content padding>

<p>Hello {{name}}</p>
<br>From Service Name:{{nameService}}  Id:{{idService}}

<ion-fab right bottom>
  <button ion-fab  id="fabButton" (click)="getAddPage()"><ion-icon name="add"></ion-icon></button>
  <!-- <ion-fab-list side="left">
    <ion-icon name="camera" id="iconSpace" style="zoom:2.0;" (click)="TakePhotoFromCamera()"></ion-icon>
    <ion-icon name="image" id="iconSpace" style="zoom:2.0;" (click)="TakePhotoFromGallery()"></ion-icon>
  </ion-fab-list> -->
</ion-fab>
  

<!-- background: url('{{data.filelocation}}') no-repeat -->
  <ion-card *ngFor="let data of dataFromImageStore">
    <div [ngStyle]="{'background-image': 'url('+data.filelocation+')'}" style=" background-size: cover;height: 220px;width:100%;
    background-size: cover;background-position: center center;">
   </div>
     <ion-title> 
       {{data.name}}
     </ion-title> 
  <ion-card-content >
     <p>{{data.description}}</p> 
    </ion-card-content> 
  </ion-card> 
  


   

</ion-content>
