page-first {
    #image1{
        background: url('../assets/imgs/zimg3.png') repeat transparent;
    background-size: 100%;
    width: 380px;
    height: 128px;
    }

    #image2{
        background: url('../assets/imgs/zimg2.png') repeat transparent;
    background-size: 100%;
    width: 380px;
    height: 128px;
    }

    #image3{
        background: url('../assets/imgs/zimg1.png') no-repeat transparent;
    background-size: 100%;
    width: 380px;
    height: 128px;
    }

    
    #iconSpace{
        padding:0px 8px 0px 8px;
    }

    .imageDisplay{
        height:200px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        background-size: cover;
        background-position: center center;
    }
    .imageContain{
        width: 300px;
        height: 240px;
        margin-left: 10px;
        background-size: cover;
        background-position: center center;
        
    }


    
    .alertClass{
        $alert-min-width:300px;
        $alert-max-height:100%;
        $alert-input-placeholder-color:red;
    }

    



    /*Fitting image to center*/
    .center-cropped {
        width: 100%;
        height: 200px;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
      }
      
      /* Set the image to fill its parent and make transparent */
      .center-cropped img {
        min-height: 100%;
        min-width: 100%;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        /* IE 5-7 */
        filter: alpha(opacity=0);
        /* modern browsers */
        opacity: 0;
      }
}
