
<ion-header>

  <ion-navbar color="dark">
    <ion-title>AddSpot</ion-title>
    <ion-buttons end>
    <button  (click)="saveData(imagename.value,description.value,dateT)" id="addButton" >Add</button>
  </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label><ion-icon name="card" style="zoom:1.2;"></ion-icon> </ion-label>
          <ion-textarea type="text"  placeholder="Name/Title/Place" style="font-size: 15px; height: 10px;" #imagename></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label><ion-icon name="text" style="zoom:1.2;"></ion-icon></ion-label>
          <ion-textarea placeholder="Describe in short" style="font-size: 15px;" #description></ion-textarea>
          
      </ion-item>
      
      <ion-item>
        <ion-label><ion-icon name="calendar" style="zoom:1.2;"></ion-icon></ion-label>
        <ion-datetime displayFormat="DD MMM, YYYY" style="padding-right: 170px" pickerFormat="DD MMM,YYYY" [(ngModel)]="myDate" #dateT ></ion-datetime>
    </ion-item>
    <ion-item>
    <ion-label><ion-icon name="camera" style="zoom:1.2; color:grey"></ion-icon>
      <button ion-button id="cameraButton" (click)="presentActionSheet()" clear style=" margin:0px 0px 0px 0px;  color: grey; width: 100%;height:30px;padding-bottom:15px; padding-right: 180px;">  {{ fileSavePath === '' ? 'Add a picture' : fileSavePath }}</button>
    </ion-label> 
    </ion-item>
    <ion-item></ion-item>
    </ion-list>
</ion-content>
