<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/imgs/logoMM2.png" >
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>


<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      FavSpot
    </ion-title>

    
    <!-- <button ion-button icon-only menuToggle end>
        <ion-icon name='menu'></ion-icon>
    </button>                 for menu button on login page.(2 menu has been created)-->                      
    
  </ion-navbar>

</ion-header>

<ion-content padding >
<div>
  <div class="maindiv">
  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" #name></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" #pass></ion-input>
      </ion-item>
  </ion-list>
  
  
  <button ion-button round (click)="login(name.value,pass.value)" id="loginbutton">Login</button>
 
  
  <button ion-button round (click)="signup()" id="signupbutton">Sign up</button>

  <button ion-button round (click)="CreateUser()">Create User</button>
  <button ion-button round (click)="GetAllUser()">Display Users</button>
  <button ion-button round (click)="DeleteAllUser()">Delete All</button>
  <button ion-button round (click)="DeleteAllImages()">Delete Images</button>
  <button ion-button round (click)="TakePhoto()">Take Photo</button>
  
</div>
<h2>{{fileSavePath}}</h2>
<img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
<h3 [hidden]="lastImage !== null">Please Select Image!</h3>

<img src="{{temp}}" style="width: 300px; height: 300px;">
<ion-list>
  <ion-item *ngFor="let dev of developers">
    <h2>Id:{{dev.id}} Name:{{ dev.name }}</h2>
    <p>Email:{{ dev.email }} </p>
  </ion-item>
</ion-list>
</div>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons>
        <button ion-button icon-left (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>
        <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
          <ion-icon name="cloud-upload"></ion-icon>Upload
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
