
<!-- <ion-menu [content]="content" persistent="true" id="beforeLogin">
        <ion-header>
                
              </ion-header>
              <ion-content>
                    <img src="../assets/imgs/moon.jpg" id="menuPic">
                          
                <ion-list>
               <ion-item (click)="exitApplication()"><ion-icon name="exit"></ion-icon>&ensp;Exit</ion-item>

                </ion-list>
              </ion-content>
</ion-menu> -->


<ion-menu [content]="content" persistent="true" id="afterLogin">
        <ion-header>
                
              </ion-header>
              <ion-content>
                    <img src="../assets/imgs/moon.jpg" id="menuPic">
                          
                <ion-list>
                   
                    <ion-item (click)="goToHome()" ><ion-icon name="home" ></ion-icon>&ensp;Home</ion-item>

                   <ion-item><ion-icon name="bookmark" (click)="MyFavSpots()"></ion-icon>&ensp;My FavSpots</ion-item>
                   <ion-item><ion-icon name="bookmark"></ion-icon>&ensp;Page 3</ion-item>     

                   <ion-item (click)="goToLogin()">  <ion-icon name="log-out"></ion-icon>&ensp;Logout</ion-item>
                   
                   <ion-item (click)="exitApplication()">  <ion-icon name="exit"></ion-icon>&ensp;Exit</ion-item>
                    
               </ion-list>
              </ion-content>
</ion-menu>



<ion-nav [root]="rootPage" #content></ion-nav>

