
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Signup</ion-title>
    <!-- <button ion-button menuToggle end>
      <ion-icon name="menu" ></ion-icon>
    </button> -->
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Enter your name</ion-label>
      <ion-input type="text" #name></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Enter your email id</ion-label>
        <ion-input type="text" #email></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Enter your username</ion-label>
          <ion-input type="text" #user></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Enter your password</ion-label>
            <ion-input type="password" #pass></ion-input>
          </ion-item>
  </ion-list>
  <div >
        <button ion-button  round (click)="gotofirst(name.value,email.value,user.value,pass.value)" id="signupbutton"> Create Account</button>
  </div>
</ion-content>
